<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-picture-o"></i>
                    <span>Simple Gallery</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div id="simple_gallery" class="box-content">
{% if entities %}

      {% for entity in entities %}
     <a class="fancybox" rel="gallery1" href="{{ entity.full_foto }}" title="{{ entity.title }}">
         <img src="{{ entity.preview_foto }}" alt="" /> 
            </a>
            
      
      {% endfor %}  
      

{% else %}

Фотографий еще не добавлено.

{% endif %}

        </div>
        </div>
    </div>
</div>
<script>
// Create fancybox2 gallery
function DemoGallery(){
    $('.fancybox').fancybox({
        openEffect    : 'none',
        closeEffect    : 'none'
    });
}
$(document).ready(function() {
    // Load Fancybox2 and make gallery in callback
    LoadFancyboxScript(DemoGallery);
});
</script>