<div class="material">
      <div class="mat-title"><a href="{{ entity.add_markers.entry_url }}">{{ entity.title }}</a><div class="mod-panel">{{ entity.add_markers.moder_panel }}</div></div>
      <div class="mat-content">
            <div class="main_text margin">{{ entity.add_markers.main_text }}</div>
            <div class="infomats">
                <div class="namesmats">
                {% if checkAccess([module,'download_files']) %}
                  {% if entity.add_markers.attachment %}
                       <span class="downloadbutton"><div>{{ entity.add_markers.attachment }}<div class="infoload">Downloads: {{ entity.downloads }}</div></div></span>
                  {% else %}
                  <div class="errorfile">
                      {{ 'File not found'|lang }}
                  </div>
                  {% endif %}
                {% else %}
                <div class="errorfile">
                  {{ 'You have no rights to file download'|lang }}
                </div>
                {% endif %}
                {% if entity.tags %}
                <br /><b>{{ 'Tags'|lang }}: </b>{% for tag in entity.tags %}<a href="{{ www_root }}/loads/index/{{ tag }}">{{ tag }}</a>; {% endfor %}
                {% endif %}
                {% if entity.sourse %}<br /><b>{{ 'Source'|lang }}:</b> {{ entity.sourse }}{% endif %}
                </div>
                <div class="infomatsright">
                  <b>{{ 'Author'|lang }}:</b><a href="{{ entity.add_markers.profile_url }}"> {{ entity.author.name }}</a>
                  <br /><b>{{ 'Section2'|lang }}:</b><a href="{{ entity.add_markers.category_url }}"> {{ entity.category.title }}</a>
                  <br /><b>{{ 'Pageviews'|lang }}:</b> {{ entity.views }}
                  <br /><b>{{ 'Comments'|lang }}:</b> {{ entity.comments }}
                  <br />
                  <br /><script language="JavaScript" type="text/javascript" src="{{ template_path }}/js/share.js"></script>
                </div>
                <div class="clear"></div>
            </div>
      </div>
</div>



