{{ context.errors }}
<form name="newPasswordForm" id="sendForm" action="{{ context.action }}" method="POST">
<div class="material">
      <div class="mat-title">{{ 'Password recovery'|lang }}</div>
      <div class="mat-content">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>{{ 'The name(login)'|lang }}:</strong></span>
            <span class="siu_data"><input type="text" name="username" maxlength="30" value="" /></span>
          </li>
          <li>
            {{ 'Or'|lang }}
          </li>
          <li>
            <span class="siu_title"><strong>{{ 'E-mail'|lang }}:</strong></span>
            <span class="siu_data"><input type="text" name="email" maxlength="60" /></span>
          </li>
          <li>
            <input type="submit" name="submitForm" value="{{ 'Send'|lang }}" />
          </li>
          </ul>
      </div>
</div>
</form>
