{% set user = fetch('users', atm_user.id) %}
<div class="material">
    <div class="mat-title">{{ 'It seems this is your correspondence'|lang }}, {{ user.name }}</div>
    <div class="mat-content">
        <ul class="userslinks">
            <li><a href="{{ www_root }}/users/info/{{ user.id }}">{{ 'Browse Profile'|lang }}</a></li>
            {% if checkAccess(['users', 'edit_users']) %}
            <li><a href="{{ www_root }}/users/edit_form_by_admin/{{ user.id }}">{{ 'Edit profile'|lang }}</a></li>
            {% else %}
                {% if user.id == atm_user.id and checkAccess(['users', 'edit_mine']) %}
                <li><a href="{{ www_root }}/users/edit_form/">{{ 'Edit profile'|lang }}</a></li>
                {% endif %}
            {% endif %}
            {% if atm_user.id == user.id %}
            <li class="active"><a href="{{ www_root }}/users/pm/">{{ 'Private messages'|lang }}</a></li>
            {% endif %}
            <li><a href="{{ www_root }}/users/pm_send_form/{% if atm_user.id != user.id %}{{ user.id }}{% endif %}">{{ 'Send PM'|lang }}</a></li>
            {% if atm_user.id != user.id %}
            <li><a href="{{ www_root }}/users/send_mail_form/{{ user.id }}">{{ 'Send e-mail'|lang }}</a></li>
            {% endif %}
            {% if user.statistic %}
            <li class="category"><a>{{ 'Publications'|lang }}</a></li>
            <li class="submenu">
                {% for stat in user.statistic %}
                {% if stat.count %}
                <a href="{{ stat.url }}">{{ stat.text }} ({{ stat.count }})</a>
                {% endif %}
                {% endfor %}
            </li>
            {% endif %}
        </ul>
        <div class="userinfo">
            <div class="upuserinfo">
                <div class="profileavatar"><img class="avatar"  title="{{ user.name }}" src="{{ user.avatar }}"></div>
                <div class="userinfocell">
                    <div class="nameuser">{{ user.name }}</div>
                    <div>{{ 'Registration'|lang }}: {{ user.puttime }}</div>
                    <div class="lastrun">{% if checkUserOnline(user.id) %}<img src="{{ template_path }}/img/online.png" title="online" alt="online">{% else %}{{ 'Recent activity'|lang }}: {{ user.last_visit }}{% endif %}</div>
                    <div class="shkalakrut"><img border="0" src="{{ template_path }}/img/{{ getUserRatingImg(user.posts) }}" alt="" /></div>
                </div>
                {% if user.rating %}
                {% if user.rating >= 1 %}
                <div class="userReputation" style="background-color: #780;"><div class="Rep-number">{{ user.rating }}</div><div>{{ 'Positive'|lang }}</div></div>
                {% else %}
                <div class="userReputation" style="background-color: #C54C4C;"><div class="Rep-number">{{ user.rating }}</div><div>{{ 'Negative'|lang }}</div></div>
                {% endif %}
                {% else %}
                <div class="userReputation" style="background-color: #999;"><div class="Rep-number">{{ user.rating }}</div><div>{{ 'Neutral'|lang }}</div></div>
                {% endif %}
            </div>
            <div class="bottomuserinfo">

                {{ editor_body }}
                <script>
                    function sendPM() {
                        $('#send_pm_a').hide();
                        $('#pm_send_form').show();
                    }

                    /**
                     * Callback
                     * @param response
                     */
                    var appendNewMessages = function(messages){
                        var content = '';
                        $(messages).each(function(key, message){
                            if (key == 0) AtomX.lastMessageId = message.id;
                            var messageBlock = '<li><div class="userlistavatar"><img src="'+message.sender.avatar+'" class="avatar"></div>'
                                +'<div class="listuser"><h3 class="userlisttitle">'
                                +'<a href="{{ www_root }}/users/info/'+message.sender.id+'">'+message.sender.name+'</a>'
                                +'</h3><div><span>'+message.sendtime+'</span>'
                                +'</div></div><div class="text autoheight">'+message.message+'</div>'
                                +'<ul class="listuserbuttons">'
                                +'<li><a href="{{ www_root }}/users/pm_delete/'+message.id+'" onClick="return confirm(\'Are you sure?\');">{{ 'Delete'|lang }}</a><input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="'+message.id+'" /></li>'
                                +'</ul></li>';
                            content = content + messageBlock;
                        });
                        $('#messages-agregator').html(content + $('#messages-agregator').html());
                        fpsWnd.hide('AtmPmLoader');
                        $('textarea[name="mainText"]').val('');
                        return false;
                    }

                    $(function(){
                        setInterval(function(){
                            AtomX.updatePmList(appendNewMessages);
                        }, 10000);
                        
                        $('#sendForm').submit(function(){
                            setTimeout(function(){
                                AtomX.sendPm($('#sendForm'), appendNewMessages);
                            }, 0);
                            
                            return false;
                        });
                    });

                </script>

                <ul class="userlist">
                    <li class="sendbutton" id="send_pm_a" onclick="sendPM()">{{ 'To open the form for the answer'|lang }}</li>
                    <li id="pm_send_form" style="display:none; overflow:visible;">
                        <form name="sendForm" id="sendForm" action="/users/pm_send"  method="POST">
                            <textarea {{ editor_text }} class="text-area" name="mainText"></textarea>
                            <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ collocutor.name }}" style="display: none" />
                            <input class="subm" type="submit" name="submitForm" onClick="" value="{{ 'Send'|lang }}" />
                        </form>
                    </li>

                    <div id="messages-agregator">
                        {% if messages %}
                        {% for message in messages %}
                        <script>
                            if (typeof AtomX.lastMessageId == 'undefined') AtomX.lastMessageId = {{ message.id }};
                        </script>
                        <li {% if message.viewed != 1 %}class="send"{% endif %}>
                            <div class="userlistavatar">
                                <img src="{% if message.direction == 'in'  %} {{ getAvatar(collocutor.id) }} {% else %} {{ getAvatar(atm_user.id) }} {% endif %}" class="avatar">
                            </div>
                            <div class="listuser">
                                <h3 class="userlisttitle">
                                    {% if message.direction == 'in'  %}
                                    <a href="{{ www_root }}/users/info/{{ collocutor.id }}">{{ collocutor.name }}</a>
                                    {% else %}
                                    <a style="color: #787C88;text-decoration: none;cursor: default;">{{ atm_user.name }}</a>
                                    {% endif %}
                                </h3>
                                <div>
                                    <span>{{ AtmGetDate(message.sendtime) }}</span>
                                </div>
                            </div>
                            <div class="text autoheight">
                                {{ message.message }}
                            </div>
                            <ul class="listuserbuttons">
                                <li>{{ message.deleteLink }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.id }}" /></li>
                            </ul>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <li>
                        {{ 'Delete selected messages'|lang }}: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/pm_delete_pack/');" value="(0)">
                        <div style="display:none;"><form id="actionPack" action="" method="POST"></form></div>
                    <li>
                </ul>
            </div>
        </div>
    </div>
</div>





