      <div class="row">
                <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="{{ www_root }}/users/info/{{ user.id }}"><h4>Обзор Профиля - {{ user.name }}</h4></a></div>        
                    <div class="panel-body">
                      <div class="list-group">
                        <div class="avatar_prof">
                                        <img src="{{ user.avatar }}" class="img-rounded" alt="avatar" title="{{ user.name }}" />
                                    </div>
                      </div>
                    </div><!--/panel-body-->
                </div><!--/panel-->
             <div class="well"> 
                <ul class="list-group">
                                <div class="panel-heading"><h4>Информация</h4></div>
                                    {% if user.full_name %}
                                    <li class="list-group-item">
                                        <span class="siu_title">Полное имя::</span>
                                        <span class="siu_data">{{ user.full_name }}</span>
                                    </li>
                                    {% endif %}
                                    <li class="list-group-item">
                                        <span class="siu_title">Группа::</span>
                                        <span class="siu_data">
                                           <span>{{ user.group }}</span>
                                    </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="siu_title">Репутация:</span>
                                        <span class="siu_data">
                                            <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ user.id }}', '', 'История рейтинга ({{ user.name }})');">{{ user.rating }}</a>&nbsp;&nbsp;
                                            <a href="javascript:void(0)" onClick="$('#setRating_{{ user.id }}').show();">-&nbsp;/&nbsp;+</a>
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'Warning'|lang }}:</span>
                                        <span class="siu_data">
                                            <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/warnings_story/{{ user.id }}', '', 'История предупреждений ({{ user.name }})');">{{ user.warnings }}</a>&nbsp;&nbsp;
                                            <a href="javascript:void(0)" onClick="$('#addWarning_{{ user.id }}').show();">-&nbsp;/&nbsp;+</a>
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'Messages on the forum'|lang }}:</span>
                                        <span class="siu_data">{{ user.posts }}</span>
                                    </li>
                                    {% if user.telephone %}
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'Telephone'|lang }}:</span>
                                        <span class="siu_data"> {{ user.telephone }}</span>
                                    </li>
                                    {% endif %}
                                    {% if user.age %}
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'Age'|lang }}:</span>
                                        <span class="siu_data"> {{ user.age }} </span>    
                                    </li>
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'Birthday'|lang }}:</span>
                                        <span class="siu_data">{{ user.byear }}-{{ user.bmonth }}-{{ user.bday }}</span>
                                    </li>
                                    {% endif %}
                                     {% if user.url %}
                                    <li class="list-group-item">
                                        <span class="siu_title">WEB - site:</span>
                                        <span class="siu_data">{{ user.url }}</span>
                                    </li>
                                    {% endif %}
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'Sex'|lang }}:</span>
                                        <span class="siu_data">{% if user.pol %} {{ user.pol }} {% else %} {{ 'Not specified'|lang }} {% endif %}</span>
                                    </li>
                                    {% if user.city %}
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'City'|lang }}:</span>
                                        <span class="siu_data">{{ user.city }}</span>
                                    </li>
                                    {% endif %}
                                    {% if user.icq %}
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'ICQ number'|lang }}:</span>
                                        <span class="siu_data">{{ user.icq }}</span>
                                    </li>
                                    {% endif %}
                                    {% if user.jabber %}
                                    <li class="list-group-item">
                                        <span class="siu_title">Jabber:</span>
                                        <span class="siu_data">{{ user.jabber }}</span>
                                    </li>
                                    {% endif %}
                                    {% if user.lastpost %}
                                    <li class="list-group-item">
                                        <span class="siu_title">{{ 'Last message'|lang }}:</span>
                                        <span class="siu_data">{{ user.lastpost }}</span>
                                    </li>
                                    {% endif %}
            </ul>
                </div>
            </div>
            <div class="col-sm-6">
                 <ul class="well"> 
                 {% if user.edit_profile_link %}         
                  <li class="list-group-item">{{ user.edit_profile_link }}</li>
                 {% endif %}
                 {% if checkAccess(['users', 'edit_users']) %}
                  <li class="list-group-item"><a href="{{ www_root }}/users/edit_form_by_admin/{{ user.id }}">{{ 'Edit profile'|lang }}</a></li>
                 {% endif %}
                 {% if atm_user.id == user.id %}
                  <li class="list-group-item"><a href="{{ www_root }}/users/pm/">{{ 'Private messages'|lang }}</a></li>
                 {% endif %}
                 {% if user.privatemessage %}    
                  <li class="list-group-item"><a href="{{ www_root }}/users/pm_send_form/{% if atm_user.id != user.id %}{{ user.id }}{% endif %}">{{ 'Send PM'|lang }}</a></li>
                 {% endif %}
                 {% if atm_user.id != user.id %}
                  <li class="list-group-item"><a href="{{ www_root }}/users/send_mail_form/{{ user.id }}">{{ 'Send e-mail'|lang }}</a></li>
                 {% endif %}
            </ul>
        {% if user.about %}
                 <div class="panel panel-default">
                   <div class="panel-heading"> <h4>{{ 'Interests'|lang }}:</h4></div>
                    <div class="panel-body">
<span class="siu_data">{{ user.about }}</span>
</div>
                 </div>
              {% endif %}       
                 {% if user.stat %}
                 <div class="well">
                 <div class="panel-heading"><h4>{{ 'Publications'|lang }}</h4></div>
                         {% for stat in user.stat %}
                      {% if stat.count %}
                             <li class="list-group-item">
                             <a href="{{ stat.url }}">{{ stat.text }} ({{ stat.count }})</a>
</li>
{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
</div>
 