<!--{#
For inspect an any variable use "show" filter as shown below:
{{ context.entity|show }}

It represents a variable the same way as the "var_dump" function in PHP.

More details & documentation are located at http://atomx.net/stat/category/27/.

Current context:
- context (array)
- - action (string)
- - user (array)
- - errors (array)
- - options (string)
- - servertime (string)
- - unlinkfile (string)
#}-->


<div class="material">
    <div class="mat-title">{{ 'User profile'|lang }} - {{ context.user.name }}</div>
    <div class="mat-content">
        <ul class="userslinks">
            <li><a href="{{ www_root }}/users/info/{{ context.user.id }}">{{ 'Browse Profile'|lang }}</a></li>
            {% if checkAccess(['users', 'edit_users']) %}
            <li class="active"><a href="{{ www_root }}/users/edit_form_by_admin/{{ context.user.id }}">{{ 'Edit profile'|lang }}</a></li>
            {% else %}
                {% if context.user.id == atm_user.id and checkAccess(['users', 'edit_mine']) %}
                <li class="active"><a href="{{ www_root }}/users/edit_form/">{{ 'Edit profile'|lang }}</a></li>
                {% endif %}
            {% endif %}
            {% if atm_user.id == context.user.id %}
            <li><a href="{{ www_root }}/users/pm/">{{ 'Private messages'|lang }}</a></li>
            {% endif %}
            <li><a href="{{ www_root }}/users/pm_send_form/{% if atm_user.id != context.user.id %}{{ context.user.id }}{% endif %}">{{ 'Send PM'|lang }}</a></li>
            {% if atm_user.id != context.user.id %}
            <li><a href="{{ www_root }}/users/send_mail_form/{{ context.user.id }}">{{ 'Send e-mail'|lang }}</a></li>
            {% endif %}
            {% if context.user.statistic %}
            <li class="category"><a>{{ 'Publications'|lang }}</a></li>
            <li class="submenu">
                {% for stat in context.user.statistic %}
                {% if stat.count %}
                <a href="{{ stat.url }}">{{ stat.text }} ({{ stat.count }})</a>
                {% endif %}
                {% endfor %}
            </li>
            {% endif %}
        </ul>


        <div class="userinfo">
            <div class="bottomuserinfo">
                <form name="editUserForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data">

                    {{ context.errors }}

                    <ul class="spisok-all">
                        <li>
                            <span class="siu_title"><strong>{{ 'Name'|lang }}:</strong></span>
                            <span class="siu_data"><input type="text" disabled="disabled" name="name" maxlength="255" value="{{ context.user.name }}" /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong><font color="red">*</font>{{ 'E-mail'|lang }}:</strong></span>
                            <span class="siu_data"><input type="text" name="email" maxlength="60" value="{{ context.user.email }}" /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Current password'|lang }}:</strong>{{ 'You must enter your current password'|lang }}, <em>{{ 'only'|lang }}</em> {{ 'if you want to change it or alter your e-mail'|lang }}.</span>
                            <span class="siu_data"><input type="password" name="password" maxlength="30" value=""  /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'New password'|lang }}:</strong>{{ 'Specify the password'|lang }} <em>{{ 'only'|lang }}</em> {{ 'if you want to change it'|lang }}.</span>
                            <span class="siu_data"><input type="password" name="newpassword" maxlength="30" value=""  /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Confirm password'|lang }}:</strong>{{ 'Only if you specify a new password'|lang }}</span>
                            <span class="siu_data"><input type="password" name="confirm" maxlength="30" value=""  /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Sex'|lang }}:</strong></span>
                            <span class="siu_data">
                                  {{ 'Man'|lang }}<input type="radio" name="pol" value="1"{{ context.user.mpol }} />
                                  {{ 'Women'|lang }}<input type="radio" name="pol" value="2"{{ context.user.fpol }} />
                            </span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'City'|lang }}:</strong></span>
                            <span class="siu_data"><input type="text" name="city" maxlength="100" value="{{ context.user.city }}" /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Date of birth'|lang }}:</strong>{{ '(day, month, year)'|lang }}</span>
                             <span class="siu_data">
                                 <select style="width:50px;" name="bday">
                                     {{ context.user.bday_selector }}
                                 </select>
                                 <select style="width:50px;" name="bmonth">
                                     {{ context.user.bmonth_selector }}
                                 </select>
                                 <select style="width:50px;" name="byear">
                                     {{ context.user.byears_selector }}
                                 </select>&nbsp;
                            </span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Time zone setting'|lang }}:</strong>{{ 'Specify the difference of your time server side to adjust the time on the clock of a site under you'|lang }}.</span>
                            <span class="siu_data">
                               <select name="timezone">
                                   {{ context.options }}
                               </select>
                           {{ 'The current time on the server'|lang }}: {{ context.servertime }}<br>
                           <input type="checkbox" name="summer_time" value="1"{% if context.user.summer_time %} checked="checked" {% endif %}/>
                           {{ 'Auto switch to summer time'|lang }}
                           </span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Avatar'|lang }}:</strong>{{ 'Shows a small picture next to your answers, materials'|lang }}</span>
                            <span class="siu_data">
                                <img title="{{ context.user.name }}" class="avatar" border="0" src="{{ context.user.avatar }}">
                                <br /><input type="file" name="avatar"  />
                                <br />{{ context.unlinkfile }}
                            </span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Signature'|lang }}:</strong>{{ 'Displayed under your messages'|lang }}</span>
                            <span class="siu_data"><textarea name="signature" cols="30" rows="3">{{ context.user.signature }}</textarea></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'About myself'|lang }}:</strong></span>
                            <span class="siu_data"><textarea name="about" cols="30" rows="3">{{ context.user.about }}</textarea></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Home page'|lang }}:</strong> {{ 'Your WEB-site or a link to your page in a social network'|lang }}</span>
                            <span class="siu_data"><input type="text" name="url" maxlength="60" value="{{ context.user.url }}"  /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Telephone'|lang }}:</strong></span>
                            <span class="siu_data"><input type="text" name="telephone" maxlength="100" value="{{ context.user.telephone }}" /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'ICQ number'|lang }}:</strong></span>
                            <span class="siu_data"><input type="text" name="icq" maxlength="12" value="{{ context.user.icq }}"  /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>Jabber:</strong></span>
                            <span class="siu_data"><input type="text" name="jabber" maxlength="100" value="{{ context.user.jabber }}" /></span>
                        </li>
                        <li>
                            <span class="siu_title"><strong>{{ 'Get notified by Email'|lang }}:</strong></span>
                            <span class="siu_data"><input type="checkbox" {% if context.user.email_notification %}checked="checked"{% endif %} name="email_notification" value="1" /></span>
                        </li>
                        <li>
                            <input type="submit" name="submitForm" value="{{ 'Save'|lang }}" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>