{{ editor_body }}
{{ script_gentags }}
<script type="text/javascript">
maxAttachedFiles = {{ context.max_attaches }};
</script>
<div id="dashboard_tabs" class="col-xs-12 col-sm-100%">
<div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
<div id="ow-marketplace" class="col-sm-12 col-md-100%">

<div class="box">
      <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-edit"></i>
                    <span>Добавление новости</span>
                </div>
                <div class="box-icons">
                    
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
            <form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="if (checkForm(this)) {{{ default_start_gentags }}sendu('sendForm')}; return false">
          <br/>
         <div class="form-group">
                            <label class="col-sm-3 control-label">Заголовок новости:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="title" value="{{ context.title }}" />
                            </div>
                        </div>
                        <br/>
<div class="form-group">

                            <label class="col-sm-3 control-label">Категория:</label>
                            <div class="col-sm-8">
                                <select id="el2">{{ context.cats_selector }}</select>
                            </div>
                            
                        </div>                        
             <br/>
                 <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-styles">Текст:</label>
                        <div class="col-sm-12">
                                <textarea {{ editor_text }} class="form-control" rows="5"  name="mainText">{{ context.main_text }}</textarea>
                        </div>
                    </div>    <br/>
          {% if checkAccess([module,'upload_files']) and context.locked_attaches == 0 %}
         <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-styles">Прикрепить файлы:</label>
            
              <div id="attachments">
                <input class="attachField" type="file" id="attach1" name="attach1" onchange="getFile(1)"><span id="attachMeta1"></span>
                <input type="button" name="addInput" value="Прикрепить еще файл" onclick="addFileField('attachments');">
             </div>
          
          </div>
          {% endif %}
 {% if checkAccess([module,'record_comments_management']) %}
           <div class="form-group">
            <span class="siu_title"><strong>Разрешить комментирование</strong></span>
            <div class="col-sm-2">
                        <div class="toggle-switch toggle-switch-success">
                            <label>
                                <input type="checkbox" name="commented" value="1" {{ context.commented }} />
                                <div class="toggle-switch-inner"></div>
                                <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
                            </label>
                        </div>
                    </div>
            </div>
          {% endif %}
          {% if checkAccess([module,'hide_material']) %}
          <div class="form-group">
            <span class="siu_title"><strong>Доступен для просмотра</strong></span>
            <div class="col-sm-2">
                        <div class="toggle-switch toggle-switch-success">
                            <label>
                                <input type="checkbox" name="available" value="1" {{ context.available }} />
                                <div class="toggle-switch-inner"></div>
                                <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
                            </label>
                        </div>
                    </div>          
          </div>
            
          {% endif %}
         
          
          
      </div>


 </div>
 <button type="submit" name="submitForm" class="btn btn-default btn-label-left"><span><i class="fa fa-check-circle"></i></span> Отправить</button>
 </div>
 </form>
 </div>
 </div>