<div id="dashboard_tabs" class="col-xs-12 col-sm-100%">
<div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
<div id="ow-marketplace" class="col-sm-12 col-md-100%">
<div id="ow-setting">
                    <a href="{{ www_root }}/{{ module }}/edit_form/{{ entity.id }}"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{{ www_root }}/{{ module }}/upper/{{ entity.id }}"><i class="fa fa-hand-o-up"></i></a>
                    <a href="{{ www_root }}/{{ module }}/off_home/{{ entity.id }}"><i class="fa fa-home"></i></a>
                    <a href="{{ www_root }}/{{ module }}/fix_on_top/{{ entity.id }}"><i class="fa fa-thumb-tack"></i></a>
                    <a href="{{ www_root }}/{{ module }}/delete/{{ entity.id }}"><i class="fa fa-trash-o"></i></a>
                </div>
     <h3 class="page-header">{{ entity.title }}</h3>
          <pre><b>
          {{ entity.main_text }}
          </b></pre> 
                
                <br />
                {% if entity.tags %}
                <br /><b>Теги: </b>{% for tag in entity.tags %}<a href="{{ www_root }}/stat/index/{{ tag }}">{{ tag }}</a>; {% endfor %}
                {% endif %}
                {% if entity.sourse %}<br /><b>Источник:</b> {{ entity.sourse }}{% endif %}
                
                {% if entity.attaches_list and context.locked_attaches == 0 %}
                  <br />
                  
                 Прикрепленные файлы:
                      {% if checkAccess([module,'download_files']) %}
                          {% for file in entity.attaches_list %}
                            <a href="{{ file.url }}">{{ file.name }} ({{ file.size }})</a><br/>
                          {% endfor %}
                      {% else %}
                      У вас нет прав для скачивания прикрепленных файлов
                      {% endif %}
                  
                {% endif %}
                
                        
<button type="button" class="btn btn-default">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-user"></i> 
</div>
<a href="{{ entity.profile_url }}">
{{ entity.author.name }}
</a>
</button>

<button type="button" class="btn btn-default">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-tags"></i>
</div>
<a href="{{ entity.category_url }}">{{ entity.category.title }}</a>
</button> 

<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-check-circle-o"></i>
 {{ AtmDate(entity.date) }}
 </div>
 </button>                  

<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-eye"></i> 
{{ entity.views }}
</div>
</button>
                  
{% if entity.commented %}
<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-comment"></i> 
{{ entity.comments }}
</div>
</button>
{% endif %}

                  <br />
                  <br /><script language="JavaScript" type="text/javascript" src="{{ template_path }}/js/share.js"></script>
        
{{ relmat }}
</div>
</div>
</div>
