<script type="text/javascript">

function updateChat(){
    $.ajax({
        url: "{{ get_url('/chat/view_messages/?ajax') }}",
        type: "GET",
        data: {},
        success: function(response){
            if(typeof response.result != "undefined")
                $("#fpsChat").html(response.result);
        },
        dataType: "json"
    });
};


function sebmitChat(e) {
    var message = $("textarea#chatModule").val();
    var message = encodeURIComponent(message);
    var keystring = $(".chat-addfrom input[name='keystring']").val();

    var params = 'message='+message;
    if (typeof keystring != 'undefined') params = params + '&keystring='+keystring;
    
    $("#testAjax").show();
    
    $.post('{{ data.action }}', params, 
        function(resp, data){responseData(resp, data);}
    );
}

function responseData(resp, data) {
    $("#testAjax").hide();
    if (resp != 'ok') {
        $("#chat_meta").show();
        $("#chat_meta").html(resp);
    } else {
        var ifr = document.getElementById('fpsChat');
        ifr.src = ifr.src;
        $("#chat_meta").hide();
        $("#chat_meta").html('');
        $("textarea#chatModule").val('');
        $("input[name='keystring']").val('');
    }
    
    refreshCaptcha();
    updateChat();
}
function refreshCaptcha() {
    if ($('img#fps_captcha').length) {
        $('img#fps_captcha').attr('src', $('img#fps_captcha').attr('src') + '&rand=' + Math.round(Math.random(0)*1000));
    }
}

function createCookie(name, value, days) {
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        var expires = "; expires=" + date.toGMTString();
    }
    else expires = "";
    document.cookie = name + "=" + value + expires + "; path=/";
}

function forUpdate() {
    document.getElementById('fpsChat').contentWindow.location.reload();
}

function update() {
    var value = document.getElementById("chat_refresh_time").value;
    createCookie('chat_refresh_time', value, 360);
    if (value > 0) {
        var chat_refresh = setInterval(function(){updateChat();}, 1000 * value);
    } else {
        clearInterval(chat_refresh);
    }
}
</script>

<div style="display:none;" id="chat_meta"></div>
<form action="{{ data.action }}" method="POST" onSubmit="sebmitChat(this); return false;">
<div class="chat-addfrom">
    <div>
        <span>{{ 'AutoUpdate'|lang }}:</span>
        <span>
            <select id="chat_refresh_time" onchange="update()" style="width:65px;">
            <option value='0'>{{ 'Off'|lang }}</option>
            <option value='10'>10 {{ 'sec'|lang }}</option>
            <option value='30'>30 {{ 'sec'|lang }}</option>
            <option value='60'>1 {{ 'min'|lang }}</option>
            <option value='120'>2 {{ 'min'|lang }}</option>
            <option value='300' selected="selected">5 {{ 'min'|lang }}</option>
            </select>
        </span>
    </div>
    <div  class="margin">
        <textarea cols="19" rows="2" id="chatModule" name="message">{{ data.message }}</textarea>
    </div>
    {% if data.captcha %}
    <div class="chat_captcha">{{ data.captcha }}</div>
    {% endif %}
    <div>
             <span style="display:none;font-size: 19px;" id="testAjax" class="vectorcssloader">
                  <span class="css3loading" data-icon1="↻"></span> 
             </span>
            <input type="submit" name="send" value="{{ 'Send'|lang }}" />
    </div>
</div>
</form>

<script type="text/javascript">
    
function readCookie(name) {
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        pos = ca[i].indexOf("=");
        x = ca[i].substr(0, pos).replace(/^\s+|\s+$/g,"");
        if (x == name) {
            return unescape(ca[i].substr(pos + 1));
        }
    }
    return null;
}

var r_time = readCookie('chat_refresh_time');
var selopt = document.getElementById("chat_refresh_time").options;
for (var i = 0; i < selopt.length; i++) {
    if (selopt[i].value == r_time) {
        selopt[i].selected = true; 
        break;
    }
}
updateChat();
update();

</script>