<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<meta name='generator' content='AtomX Engine {{ version }}' />

<link rel="icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />
<script language="JavaScript" type="text/javascript" src="{{ www_root }}/sys/js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="{{ www_root }}/sys/js/send_message.js"></script>
<!--<script src="{{ www_root }}/sys/js/jquery.form.min.js"></script>-->
{{ editor_head }}
<!-- <script language="JavaScript" type="text/javascript" src="{{ www_root }}/sys/js/textarearesizer.js"></script> -->
<script type="text/javascript">
{% if atm_user.id %}
    check_pm('{{ atm_user.id }}');
{% endif %}

/*
$(document).ready(function() {
$('textarea.text-area:not(.processed)').TextAreaResizer();
});
*/
</script>
<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("a.gallery").fancybox();
});
</script>
<!--/FancyBOX -->

</head>


<body>
<div class="headpanel">
 <div class="linksap">
<div><a href="http://atomx.net/users/info/1/">{{ 'Contacts'|lang }}</a></div>
<div><a href="https://github.com/Drunyacoder/AtomXCMS-2">GitHub</a></div>
<div><a href="http://atomx.net/forum/">{{ 'Support'|lang }}</a></div></div>
 <div class="userlinksap">
{% if atm_user.id %}
<div><a href="{{ get_url('/users/pm/') }}">{{ 'Message'|lang }}</a></div>
<div class="activewindow"><a href="{{ atm_user.profile }}">{{ atm_user.name }}</a><div class="miniprofileadm" style="width: 300px;padding: 10px;{% if fps_admin_access == 1 %}height:150px;{% endif %}">
    <span class="avatarminpro"><img class="avatar" src="{{ getAvatar(fps_user.id) }}"></span>
    <span class="uslinkminpro">
        <a href="{{ atm_user.profile }}">{{ 'Profile'|lang }}</a>
        <a href="{{ get_url('/users/pm_send_form/') }}">{{ 'Send a message'|lang }}</a>
        <a href="{{ get_url('/users/pm/') }}">{{ 'Message'|lang }}</a>
        <a href="{{ get_url('/users/edit_form/' ~ atm_user.id) }}">{{ 'Edit profile'|lang }}</a>
        {% if fps_admin_access == 1 %}
        <a href="{{ get_url('/admin/', false, false) }}" target="_blank">{{ 'panel'|lang }}</a>
        {% endif %}
    </span>
</div></div>
<div><a href="{{ get_url('/users/logout/') }}">{{ 'Exit'|lang }}</a></div>
{% else %}
<div><a href="{{ get_url('/users/add_form/') }}">{{ 'Registration'|lang }}</a></div>
<div class="activewindow login"><a href="{{ get_url('/users/login_form/') }}">{{ 'Enter'|lang }}</a>
<div style="width: 258px;"><span>
<form id="mloginForm"  action="{{ get_url('/users/login/?ajax') }}" method="post">
    {{ 'Login'|lang }}: <input type="text" class="loginad" name="username">
    {{ 'Password'|lang }}: <input type="password" class="passad" name="password">
    {{ 'The autologin'|lang }}: <input type="checkbox" name="autologin" value="1">
    <button type="submit" onclick="sendu('mloginForm'); return false" class="buttonadm">{{ 'Enter'|lang }}</button>
    <input type="hidden" value="submit" name="submitForm">
</form>
</span></div></div>
{% endif %}
<div><a href="{{ get_url('/users/') }}">{{ 'Users'|lang }}</a></div>
 </div>
</div>
<div class="global">
<div class="header">
   <div class="logohead">
    <a href="{{ www_root }}/"><img src="{{ template_path }}/img/logo.png" /></a>
   </div>
   <div class="infohead">
     <div class="infoblock">
       <div class="download">
         <a class="downloadbutton" href="https://github.com/Drunyacoder/AtomXCMS-2/releases" target="_blank">
           <div><div class="nameload">DOWNLOAD ATOMX</div>
           <div class="infoload">FILE IS 8.7MB(.ZIP)</div></div>
         </a>
         <a class="ahother" href="https://github.com/Drunyacoder/AtomXCMS-2/releases">{{ 'Download other versions'|lang }} AtomX</a>
         <a class="knownot" href="http://atomx.net/documa/?p=ustanovka">{{ 'Know how to install'|lang }}?</a>
       </div>
       <div class="info1"><b>AtomX CMS</b> - {{ 'It is a tool for creation of sites of any complexity, people with no professional skills. Many templates, allowing you to choose a suitable design. And it\'s all FREE'|lang }}!</div>
       <div class="info2">
       <div class="l">
       50+<br>
       15+<br>
       5000+<br>
       5 {{ 'years'|lang }}<br>
       100+
       </div>
       <div class="r">
       {{ 'Templates'|lang }}<br>
       {{ 'Modules'|lang }}<br>
       {{ 'Members'|lang }}<br>
       {{ 'Development'|lang }}<br>
       {{ 'Additions'|lang }}
       </div>
       </div>
     </div>
     <div class="sots">
       <a href="http://atomx.net/documa/">{{ 'DOCUMENTATION'|lang }}</a>
       <a href="http://atomx.net/loads/category/5">{{ 'TEMPLATES'|lang }}</a>
       <a href="http://atomx.net/forum/view_theme/362">{{ 'SNIPPETS'|lang }}</a>
       <a href="#">{{ 'PLUGINS'|lang }}</a>
       <a href="http://atomx.net/forum/view_forum/2">{{ 'MODULES'|lang }}</a>
     </div>
   </div>
</div>

<div class="sider">
    <div class="sidertop">
     {{ mainmenu }}
      <div class="search">
       <form method="POST" action="{{ www_root }}/search/"> 
        <input type="hidden" name="subaction" value="search"> 
       <input name="search" placeholder="{{ 'Search'|lang }}..." type="text"> 
        <input value="GO!" type="submit" name="send"> 
       </form> 
      </div>
    </div>
    <!---------------------------------------------------------------------------CONTENT/----------------------------------------------------------------------------------------------->
    <div class="content">
<div class="spedbar">
    <div>
        <div><a href="/">{{ 'Home'|lang }}</a>  » {{ 'Chat'|lang }}</div>
    </div>
</div>
<div class="material">
      <div class="mat-title">{{ 'General chat'|lang }}</div>
      <div class="mat-content">
         <div class="bigchat">
            <div id="fpsChat" scrolling="auto"></div>
         </div>
         <div class="bigadd-form">
            {{ editor_body }}
            {{ content }}
         </div>
      </div>
</div>
    <div class="material">
           <div class="inftitle">{{ 'Now online:'|lang }} {{ all_online }}.{{ 'Registered:'|lang }} {{ users_online }}. {{ 'Guests:'|lang }} {{ guests_online }}. </div>
           <div class="infcont">{{ online_users_list }}</div>
        </div>
    </div>
    <!---------------------------------------------------------------------------/CONTENT----------------------------------------------------------------------------------------------->
</div>
<!--------------------------------------------------------FOOTER-BUTTONS------------------------------------------------------------------>
<div class="footer">
<div class="people"><span>{{ 'Community'|lang }}</span>
<a href="{{ get_url('/') }}">{{ 'Home'|lang }}</a>
<br><a href="{{ get_url('/forum/') }}">{{ 'Forum'|lang }}</a>
<br><a href="{{ get_url('/news/') }}">{{ 'News'|lang }}</a>
<br><a href="{{ get_url('/stat/') }}">{{ 'Articles'|lang }}</a>
<br><a href="{{ get_url('/loads/') }}">{{ 'Files'|lang }}</a>
<br><a href="{{ get_url('/foto/') }}">{{ 'Photo catalog'|lang }}</a>
</div>
<div class="support"><span>{{ 'Support'|lang }}</span>
<a href="http://home.develdo.com/downloads.php">{{ 'User agreement'|lang }}</a>
<br><a href="http://atomx.net/documa/">{{ 'Documentation'|lang }}</a>
<br><a href="{{ www_root }}/users/add_form/">{{ 'Website rules'|lang }}</a>
<br><a href="#">{{ 'To order advertising'|lang }}</a>
<br><a href="{{ www_root }}/sitemap.xml">{{ 'Site map'|lang }}</a>
</div>
<div class="faposcms"><span>AtomX CMS</span>
<a href="http://home.develdo.com/downloads.php">{{ 'Download CMS'|lang }}</a>
<br><a href="http://www.youtube.com/watch?v=7GYpzleSWUU">{{ 'Video guide'|lang }}</a>
<br><a href="http://atomx.net/forum/">{{ 'To report a bug'|lang }}</a>
</div>
<div style="float: right;padding: 0;">
<div class="socnet" style="display:block;">
<a href="http://vk.com/cms_fapos" class="vk" title="ВКонтакте"></a>
<a href="https://twitter.com/AtomXCMS" class="twitter" title="Twitter"></a>
<a href="https://www.facebook.com/fapos" class="fb" title="Facebook"></a>
<!--<a href="#" class="goplus" title="Google Plus"></a>-->
<a href="https://github.com/Drunyacoder/AtomXCMS-2" class="github" title="GitHub"></a>
<a href="http://www.youtube.com/watch?v=7GYpzleSWUU" class="youtube" title="YouTube"></a>
<!--<a href="#" class="skype" title="Skype"></a>-->
<a href="{{ www_root }}/news/rss/" class="rss" title="RSS"></a>
</div>
<div>Generated by {{ powered_by }} {{ fps_year }}</div>
</div>
<div style="float:right;"><img src="{{ counter }}" /></div>
</div>

</div>
<audio id="pm-sound-notification"> 
  <source src="{{ template_path }}/sound_notify.mp3"> 
</audio>
</body>
</html>
