<div class="box-name">
    {{ captcha }}
</div>
<div class="box-name">
<div class="col-sm-4">
<div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-github-square"></i></span>
                              <input type="text" class="form-control" placeholder="Ответ" name="keystring">
                            </div>
</div></div>
