{{ editor_body }}
{{ form.errors }}
<div class="material">
       <form method="POST" id="sendForm" action="{{ form.action }}">
       <div class="mat-title">{{ 'Editing a comment'|lang }}</div>
       <div class="mat-content">
          <ul class="spisok-all">
          {% if atm_user.id == 0 %}
          <li>
            <span class="siu_title"><strong><font color="red">*</font>{{ 'Alias'|lang }}:</strong></span>
            <span class="siu_data"><input {{ form.disabled }} type="text" name="login" value="{{ form.name }}" /></span>
          </li>
          {% endif %}
          <li class="margin" style="overflow:visible;">
            <textarea {{ editor_text }} id="editor" name="message">{{ form.message }}</textarea>
          </li>
          <li>
            <input type="submit" name="send" value="Сохранить" />
          </li>
          </ul>
      </div>
      </form>
</div>