{% if entities %}
{% for entity in entities %}
<div id="dashboard_tabs" class="col-xs-12 col-sm-100%">
<div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
<div id="ow-marketplace" class="col-sm-12 col-md-100%">
<div id="ow-setting">
                    <a href="{{ www_root }}/{{ module }}/edit_form/{{ entity.id }}"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{{ www_root }}/{{ module }}/upper/{{ entity.id }}"><i class="fa fa-hand-o-up"></i></a>
                    <a href="{{ www_root }}/{{ module }}/off_home/{{ entity.id }}"><i class="fa fa-home"></i></a>
                    <a href="{{ www_root }}/{{ module }}/fix_on_top/{{ entity.id }}"><i class="fa fa-thumb-tack"></i></a>
                    <a href="{{ www_root }}/{{ module }}/delete/{{ entity.id }}"><i class="fa fa-trash-o"></i></a>
                </div>
<h3 class="page-header">
<a href="{{ entity.entry_url }}">{{ entity.title }}</a>
</h3>
<pre>          
 {{ entity.announce }}
</pre> 
<button type="button" class="btn btn-default">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-user"></i>
</div>
<a href="{{ entity.profile_url }}">
{{ entity.author.name }}
</a>
</button>

<button type="button" class="btn btn-default">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-tags"></i>
</div>
<a href="{{ entity.category_url }}">{{ entity.category.title }}</a>
</button> 

<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-check-circle-o"></i>
 {{ AtmDate(entity.date) }}
 </div>
 </button>
 
<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-eye"></i>
 {{ entity.views }}
 </div>
 </button>

<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-comment"></i>
 {{ entity.comments }}
 </div>
 </button>
    
<h3 class="page-header"></h3>
</div>
</div>
</div>  
{% endfor %}
{% else %}

Статей еще не добавлено.
{% endif %}