<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ meta_description }}" />
        <meta name="keywords" content="{{ meta_keywords }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
        <link href="{{ template_path }}/plugins/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="{{ template_path }}/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
        <link href="{{ template_path }}/css/font-awesome.css" rel="stylesheet">
        <link href="{{ template_path }}/css/fonts.css" rel='stylesheet' type='text/css'>
        <link href="{{ template_path }}/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link href="{{ template_path }}/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
        <link href="{{ template_path }}/plugins/xcharts/xcharts.min.css" rel="stylesheet">
        <link href="{{ template_path }}/plugins/select2/select2.css" rel="stylesheet">
        <link href="{{ template_path }}/css/style.css" rel="stylesheet">
<script src="{{ template_path }}/plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="{{ template_path }}/js/devoops.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ template_path }}/js/default.js"></script>
{{ editor_head }}
<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<!--/FancyBOX -->
    </head>
    <body>
        {% include '../includes/header.html' %}
    <div id="main" class="container-fluid">
    <div class="row">
        {% include '../includes/block_menu.html' %}    
        {% include '../includes/navigation.html' %}
    </div>
    </div>
<script src="{{ template_path }}/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ template_path }}/plugins/bootstrap/bootstrap.min.js"></script>
<script src="{{ template_path }}/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="{{ template_path }}/plugins/tinymce/tinymce.min.js"></script>
<script src="{{ template_path }}/plugins/tinymce/jquery.tinymce.min.js"></script>
    </body>
    </html>
