<div id="sidebar-left" class="col-xs-2 col-sm-2">
            <ul class="nav main-menu">
                <li>
                    <a href="{{ www_root }}/" class="active dropdown">
                        <i class="fa fa-home"></i>
                        <span class="hidden-xs">Главная</span>
                    </a>
                </li>
                
                
                 <li>
                    <a class="dropdown" href="{{ www_root }}/news/">
                         <i class="fa fa-calendar"></i>
                         <span class="hidden-xs">Новости</span>
                    </a>
                 </li>
                 
                 
                 <li>
                    <a class="dropdown" href="{{ www_root }}/stat/">
                         <i class="fa fa-pencil-square"></i>
                         <span class="hidden-xs">Статьи</span>
                    </a>
                 </li>
                 
                 <li>
                    <a class="dropdown" href="{{ www_root }}/forum/">
                         <i class="fa fa-comments"></i>
                         <span class="hidden-xs">Форум</span>
                    </a>
                 </li>
                 
                 <li>
                    <a class="dropdown" href="{{ www_root }}/loads/">
                         <i class="fa fa-folder-open"></i>
                         <span class="hidden-xs">Файлы</span>
                    </a>
                 </li>
                 <li>
                 
                    <a class="dropdown" href="{{ www_root }}/foto/">
                         <i class="fa fa-picture-o"></i>
                         <span class="hidden-xs">Фото</span>
                    </a>
                 </li>
                 
                 
                 
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-github-alt"></i>
                         <span class="hidden-xs">Multilevel menu</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                 
                    <a class="dropdown" href="{{ www_root }}/icon/">
                         <i class="fa fa-th"></i>
                         <span class="hidden-xs">Иконки</span>
                    </a>
                 </li>
                        <li>
                 
                    <a class="dropdown" href="{{ www_root }}/form/">
                         <i class="fa fa-th"></i>
                         <span class="hidden-xs">Формы</span>
                    </a>
                 </li>
                 <li>
                 
                    <a class="dropdown" href="{{ www_root }}/poles/">
                         <i class="fa fa-th"></i>
                         <span class="hidden-xs">Поля</span>
                    </a>
                 </li>
                 <li>
                 
                    <a class="dropdown" href="{{ www_root }}/icon/">
                         <i class="fa fa-th"></i>
                         <span class="hidden-xs">Иконки</span>
                    </a>
                 </li>
                        <li>
                 
                    <a class="dropdown" href="{{ www_root }}/icon/">
                         <i class="fa fa-th"></i>
                         <span class="hidden-xs">Иконки</span>
                    </a>
                 </li>
                 <li>
                 
                    <a class="dropdown" href="{{ www_root }}/icon/">
                         <i class="fa fa-th"></i>
                         <span class="hidden-xs">Иконки</span>
                    </a>
                 </li>
                 <li>
                 
                    <a class="dropdown" href="{{ www_root }}/icon/">
                         <i class="fa fa-th"></i>
                         <span class="hidden-xs">Иконки</span>
                    </a>
                 </li>
                    </ul>
                </li> 
            </ul>
        </div>