<div class="row">
<div id="breadcrumb" class="col-xs-12">
<ol class="breadcrumb">
<li>{{ navigation }}</li>
</ol>
</div>
    {% if module == 'pages' %}
        {% set custom_add_link = get_url('/news/add_form/') %}
    {% else %}
        {% set custom_add_link = get_url('/' ~ module ~ '/add_form/') %}
    {% endif %}
    {% if add_link %}
    &nbsp;&nbsp;
<a href="{{ custom_add_link }}" button type="button" class="btn btn-default">{{ 'Add'|lang }}</a>{% endif %}    
</div>