<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">Forms layouts</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-search"></i>
                    <span>Registration form</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <h4 class="page-header">Registration form</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="First name" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
                        </div>
                        <label class="col-sm-2 control-label">Last name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Last name" data-toggle="tooltip" data-placement="bottom" title="Tooltip for last name">
                        </div>
                    </div>
                    <div class="form-group has-success has-feedback">
                        <label class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Company">
                        </div>
                        <label class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Address">
                            <span class="fa fa-check-square-o txt-success form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-warning has-feedback">
                        <label class="col-sm-2 control-label">Residence</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="City">
                            <span class="fa fa-key txt-warning form-control-feedback"></span>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Country">
                            <span class="fa fa-frown-o txt-danger form-control-feedback"></span>
                        </div>
                        <label class="col-sm-1 control-label">CODE</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Another info" data-toggle="tooltip" data-placement="top" title="Hello world!">
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked> No exist
                                    <i class="fa fa-square-o small"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-warning has-feedback">
                        <label class="col-sm-2 control-label">Select you OS</label>
                        <div class="col-sm-4">
                            <select id="s2_with_tag" multiple="multiple" class="populate placeholder">
                                <option>Linux</option>
                                <option>Windows</option>
                                <option>OpenSolaris</option>
                                <option>FirefoxOS</option>
                                <option>MeeGo</option>
                                <option>Android</option>
                                <option>Sailfish OS</option>
                                <option>Plan9</option>
                                <option>DOS</option>
                                <option>AIX</option>
                                <option>HP/UP</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Tooltip for inputs</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Another info" data-toggle="tooltip" data-placement="top" title="Hello world!">
                        </div>
                        <span class="help-inline col-xs-12 col-sm-2">
                            <span class="middle txt-default">only example</span>
                        </span>
                    </div>
                    <div class="form-group has-error has-feedback">
                        <label class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-2">
                            <input type="text" id="input_date" class="form-control" placeholder="Date">
                            <span class="fa fa-calendar txt-danger form-control-feedback"></span>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" id="input_time" class="form-control" placeholder="Time">
                            <span class="fa fa-clock-o txt-danger form-control-feedback"></span>
                        </div>
                        <label class="col-sm-2 control-label">Disabled input</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="No info" data-toggle="tooltip" data-placement="top" title="Hello world!" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-styles">Relative Sizing</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input class="form-control" id="form-styles" placeholder=".col-sm-2" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p><small>Dynamic resizing col</small></p>
                                    <div class="progress progress-ui">
                                          <div class="progress-bar progress-bar-success slider-style slider-range-min" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-styles">Textarea</label>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="wysiwig_simple"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-styles">Extreme Textarea</label>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="wysiwig_full"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Input groups</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-github-square"></i></span>
                              <input type="text" class="form-control" placeholder="GitHub">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Group">
                              <span class="input-group-addon"><i class="fa fa-group"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-money"></i></span>
                              <input type="text" class="form-control" placeholder="Money">
                              <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="cancel" class="btn btn-default btn-label-left">
                            <span><i class="fa fa-clock-o txt-danger"></i></span>
                                Cancel
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-warning btn-label-left">
                            <span><i class="fa fa-clock-o"></i></span>
                                Send later
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-label-left">
                            <span><i class="fa fa-clock-o"></i></span>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-search"></i>
                    <span>Validator forms</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form id="defaultForm" method="post" action="validators.html" class="form-horizontal">
                    <fieldset>
                        <legend>Not Empty validator</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-5">
                                <select class="populate placeholder" name="country" id="s2_country">
                                    <option value="">-- Select a country --</option>
                                    <option value="fr">France</option>
                                    <option value="de">Germany</option>
                                    <option value="it">Italy</option>
                                    <option value="jp">Japan</option>
                                    <option value="ru">Russia</option>
                                    <option value="gb">United Kingdom</option>
                                    <option value="us">United State</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"  name="acceptTerms" /> Accept the terms and policies
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Regular expression based validators</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email address</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Website</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="website" placeholder="http://" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone number</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="phoneNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Hex color</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="color" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">US zip code</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="zipCode" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Identical validator</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" name="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Retype password</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" name="confirmPassword" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Other validators</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ages</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="ages" />
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-search"></i>
                    <span>Contextual backgrounds</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <p class="bg-primary">Simple info</p>
                <p class="bg-success">Message success</p>
                <p class="bg-info">Message info</p>
                <p class="bg-warning">Message warning</p>
                <p class="bg-danger">Message danger</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
// Run Select2 plugin on elements
function DemoSelect2(){
    $('#s2_with_tag').select2({placeholder: "Select OS"});
    $('#s2_country').select2();
}
// Run timepicker
function DemoTimePicker(){
    $('#input_time').timepicker({setDate: new Date()});
}
$(document).ready(function() {
    // Create Wysiwig editor for textare
    TinyMCEStart('#wysiwig_simple', null);
    TinyMCEStart('#wysiwig_full', 'extreme');
    // Add slider for change test input length
    FormLayoutExampleInputLength($( ".slider-style" ));
    // Initialize datepicker
    $('#input_date').datepicker({setDate: new Date()});
    // Load Timepicker plugin
    LoadTimePickerScript(DemoTimePicker);
    // Add tooltip to form-controls
    $('.form-control').tooltip();
    LoadSelect2Script(DemoSelect2);
    // Load example of form validation
    LoadBootstrapValidatorScript(DemoFormValidator);
    // Add drag-n-drop feature to boxes
    WinMove();
});
</script>
