{{ context.errors }}
<form name="addForumForm" id="editForumForm" action="{{ context.action }}" method="POST">
<div class="material">
      <div class="mat-title"> {{ 'Editing of the forum'|lang }} </div>
      <div class="mat-content">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>{{ 'The name of the forum'|lang }}:</strong></span>
            <span class="siu_data"><input type="text" name="title" value="{{ context.title }}" maxlength="120" /></span>
            
            <span class="siu_title"><strong> {{ 'Description of the forum'|lang }}:</strong></span>
            <span class="siu_data"><textarea name="description" maxlength="250">{{ context.description }}</textarea></span>
          </li>
          <li>
            <input type="submit" name="sendForm" value="{{ 'Save'|lang }}" />
          </li>
          </ul>
      </div>
</div>
</form>