<div class="row">
                    <div class="col-xs-12">
        <div class="box">
        <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-table"></i>
                    <span>{{ 'Forum statistics'|lang }}</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
        <div class="box-content no-padding">
            <div class="bs-callout">
            <button class="close" data-dismiss="alert">&times;</button>
            <p>{{ 'Just created'|lang }} <b>{{ count_themes }}</b> {{ 'topics, which have'|lang }} <b>{{ count_posts }}</b> {{ 'answers'|lang }}.<br>{{ 'Registered'|lang }} <b>{{ count_users }}</b> {{ 'participants'|lang }}. {{ 'We welcome a new participant'|lang }} <b>{{ new_user }}</b>.
            <br />
            {{ 'Maximum users online'|lang }} <strong>{{ max_online_all_time }}</strong>. {{ 'Was this'|lang }} <strong>{{ max_online_all_time_date }}</strong>
       <br />
           {{ 'Today were born'|lang }}: {{ today_born_users }}</p>
</div>
</div></div></div></div>