<div class="forumblock">
      <div class="forumtitle">{{ context.forum_name }}</div>
      <div class="forumhead"><div class="forstatus"></div><div class="fornametemes">{{ getOrderLink(['title','Topics'|lang]) }}</div><div class="foranswerteme">{{ getOrderLink(['posts','Answers'|lang]) }}</div><div class="forviuwteme">{{ getOrderLink(['views','Pageviews'|lang]) }}</div><div class="forautorteme">{{ 'Author'|lang }}</div><div class="fornewposts">{{ getOrderLink(['last_post','Update'|lang]) }}</div></div>
      {% if themes %}
      {% for theme in themes %} 
      <div class="forumcontent {{ theme.fps_css_class }}"><div class="forstatus"><span>{{ theme.themeicon }}</span></div><div class="fornametemes"><div class="mozilacostil"><div class="forinfoteme">{{ theme.importantly }}<a class="namefor" href="{{ theme.theme_url }}">{{ theme.title }}</a>[{{ theme.parent_forum }}]{{ theme.near_pages }}<div class="fordescriptionteme">{{ theme.description|escape }}</div></div>{% if theme.adminbar %}<div class="moderforum">{{ theme.adminbar }}</div>{% endif %}</div></div><div class="foranswerteme">{{ theme.posts }}</div><div class="forviuwteme">{{ theme.views }}</div><div class="forautorteme">{{ theme.author.name }}</div><div class="fornewposts">{{ AtmGetDate(theme.last_post) }}<br />{{ 'Message from'|lang }}: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_page }}</div></div>
      {% endfor %}
      {% else %}
      <div class="forumcontent">{{ 'Topic not yet created'|lang }}.</div>
      {% endif %}
</div>