<form name='editThemeForm' id="movePostsForm" action="{{ context.action }}" method="POST">
<div class="forumblock">
      <div class="forumtitle">{{ 'Moving messages'|lang }}: {{ theme.title }}</div> 
      <div class="mat-content">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>{{ 'The ID of the topic'|lang }}:</strong>{{ 'The sequence number of topics in which you want to move the messages, it can be found from the address page of the topic. This room is located in the end of the address, after'|lang }} <b>view_theme/</b></span>
            <span class="siu_data"><input type="text" name="theme" maxlength="55" value="{{ context.theme }}" /></span>
          </li>
          <li>
            <input type="submit" name="sendForm" value="{{ 'To move the selected message'|lang }}" />
            <br />{{ 'Messages will be distributed on the date of their creation'|lang }}
          </li>
          </ul>
      </div>
{% for post in posts %}
<div class="forumpost" id="post{{ post.id }}">
<div class="poststarterinfo">
<a class="postusername">{{ post.author_name }}</a>
</div>

<div class="posttextuser">
              <div class="headpostinfo"><span class="postdate">{{ 'Sent'|lang }}: {{ AtmGetDate(post.time) }}</span>
              <label class="postidlink"><input type="checkbox" {% for curr in context.posts_select %} {% if curr == post.id %} checked="checked" {% endif %} {% endfor %} value="{{ post.id }}" name="post_{{ post.id }}" /></label>
              </div>
              <div class="posttext">{{ post.message }}</div>
           </div>
</div>
{% endfor %}
</div>
<div class="mezdyblock">
         <div class="paginator">
            <div class="pages">{{ pagination }}</div>
         </div>
</div>
</form>
