<!--{#
For inspect an any variable use "show" filter as shown below:
{{ context.entity|show }}

It represents a variable the same way as the "var_dump" function in PHP.

More details & documentation are located at http://atomx.net/stat/category/27/.

Current context:
- context (array)
- - posts (array)
- - theme (object)
- - theme2 (array)
- - action (string)
- - errors (array)
- - options (string)
- - gr_access (array)
#}-->



<script type="text/javascript">
$(function() {
    var AtomX = window.AtomX || {};
    AtomX.autocompletePastValue = '';
    $('[list=findthemes]').keyup(function() {
        if ($('[list=findthemes]').val().length > 2) {
            if ($('[list=findthemes]').val() != AtomX.autocompletePastValue) {
                AtomX.autocompletePastValue = $('[list=findthemes]').val();
                $.get('/forum/search_themes/?name='+$('[list=findthemes]').val(), {}, function(data){
                    if (data.length) {
                        //var data = $.parseJSON(data);
                        $('#findthemes').html('');
                        $(data).each(function(key, row){
                            $('#findthemes').html($('#findthemes').html() + '<option value="' + row.title + '(' + row.id + ')">');
                        });
                    }
                });
            }
        } else {
            $('#findthemes').html('');
        };
    });
    return;
});
</script>


{{ context.errors }}


<form name='editThemeForm' action="{{ context.action }}" method="POST">
<div class="forumblock">
      <div class="forumtitle">{{ 'The division of topic'|lang }}: {{ context.theme.title }}</div>
      <div class="mat-content">
          <ul class="spisok-all">

          <li>
            <span class="siu_title">
                <strong>{{ 'New topic(search)'|lang }}:</strong><br>
                {{ 'Search by name'|lang }}
            </span>
            <span class="siu_data">
                <input type="text" name="theme" maxlength="55" list="findthemes" value="{{ context.theme2.theme }}" />
                <datalist id="findthemes"></datalist>
            </span>
          </li>
          <li>
            <span class="siu_title"><strong>{{ 'To create a topic and'|lang }} <br>{{ 'to move the messages to it'|lang }}:</strong></span>
            <span class="siu_data"><input type="checkbox" onClick="if($('#new_theme').is(':visible')){$('#new_theme').hide();}else{$('#new_theme').show();}" value="1" name="new_theme" /></span>
          </li>
          <div id="new_theme" style="display:none;">
              <li>
                <span class="siu_title"><strong>{{ 'The new forum topics'|lang }}:</strong></span>
                <span class="siu_data"><select name="forum_id"> {{ context.options }}</select></span>
              </li>
              <li>
                <span class="siu_title"><strong>{{ 'The title of the new topic'|lang }}:</strong></span>
                <span class="siu_data"><input type="text" name="title" maxlength="55" value="{{ context.theme2.theme }}" /></span>
              </li>
              <li>
                <span class="siu_title"><strong>{{ 'Description of a new topic'|lang }}:</strong></span>
                <span class="siu_data"><input type="text" name="description" maxlength="128" value="{{ context.theme2.description }}" /></span>
              </li>
              <li>
                <span class="siu_title"><strong>{{ 'To close access'|lang }}:</strong></span>
                <span class="siu_data">
                {% for group in atm_users_groups %}
                        <label><input type="checkbox" {% for curr in context.gr_access %} {% if curr == group.id %} checked="checked" {% endif %} {% endfor %} value="{{ group.id }}" name="gr_access_{{ group.id }}" />&nbsp;{{ group.title }}</label><br />
                {% endfor %}
                </span>
              </li>
              <li>
                <span class="siu_title"><strong>{{ 'To fix the first message of the topic'|lang }}:</strong></span>
                <span class="siu_data"><input type="checkbox" name="first_top" {% if context.theme2.first_top %} checked="checked" {% endif %} /></span>
              </li>
              {% if checkAccess([module,'close_themes']) %}
              <li>
                <span class="siu_title"><strong>{{ 'To close the topic'|lang }}:</strong>{{ 'Avoid adding messages in the topic'|lang }}</span>
                <span class="siu_data"><input type="checkbox" name="locked" {% if context.theme2.locked %} checked="checked" {% endif %} /></span>
              </li>
              {% endif %}

          </div>
          <li>
            <input type="submit" name="sendForm" value="{{ 'To share'|lang }}" />
            <br />{{ 'Will create a new topic with the selected messages'|lang }}.
          </li>
          </ul>
      </div>
{% for post in context.posts %}
<input type="hidden" name="posts_ids[]" value="{{ post.id }}" />
<div class="forumpost" id="post{{ post.id }}">
<div class="poststarterinfo">
<a class="postusername">{% if post.author.name %}{{ post.author.name }}{% else %} {{ 'Guest'|lang }} {% endif %}</a>
</div>

<div class="posttextuser">
              <div class="headpostinfo"><span class="postdate">{{ 'Sent'|lang }}: {{ AtmGetDate(post.time) }}</span>
              </div>
              <div class="posttext">{{ post.message }}</div>
           </div>
</div>
{% endfor %}
</div>
<div class="mezdyblock">
         <div class="paginator">
            <div class="pages">{{ pagination }}</div>
         </div>
</div>
</form>
